@font-face {
  font-family: ROMANSEX;
  src: url("ROMANSEX.ttf");
}

p {
  margin: 0;
}

body {
  user-select: none;
  color: white;
  font-family: ROMANSEX;
  background-color: #796be6;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 3s ease-in-out;
  transition: background-image 3s ease-in-out;
  background-image: url("init.png");
}

.huge {
  font-size: 10vw;
}

mid {
  font-size: 3.5vw;
}

.big {
  font-size: 5vw;
}

.small {
  font-size: 2.5vw;
}

.mon {
  display: none;
}

.center {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.opbtn {
  width: 15vw;
  padding: 5px;
  background-color: #ffb7c2;
  box-shadow: 5px 10px 18px black;
  border-radius: 5px;
  transition: ease-in-out 100ms background-color;
}

.opbtn:hover {
  cursor: pointer;
  background-color: #ea9485;
}

.flex {
  display: flex;
}

#loading-screen {
  top: 10px;
  position: relative;
  font-size: 10vw;
  display: block;
}

#body {
  border-radius: 3px;
}